/// ================== \\\
/// === TYPOGRAPHY === \\\
/// ================== \\\

/// === FONT A === \\\

// FONT A LIGHT
@font-face {
    font-family: 'FontA-Light';
    src: url('/dist/fonts/FontA/FontA-Light.eot'); /* IE9 Compat Modes */
    src: url('/dist/fonts/FontA/FontA-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/dist/fonts/FontA/FontA-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/dist/fonts/FontA/FontA-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/dist/fonts/FontA/FontA-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/dist/fonts/FontA/FontA-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
// FONT A BOOK
@font-face {
    font-family: 'FontA-Book';
    src: url('/dist/fonts/FontA/FontA-Book.eot'); /* IE9 Compat Modes */
    src: url('/dist/fonts/FontA/FontA-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/dist/fonts/FontA/FontA-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('/dist/fonts/FontA/FontA-Book.woff') format('woff'), /* Pretty Modern Browsers */
         url('/dist/fonts/FontA/FontA-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/dist/fonts/FontA/FontA-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
// FONT A REGULAR
@font-face {
    font-family: 'FontA-Regular';
    src: url('/dist/fonts/FontA/FontA-Regular.eot'); /* IE9 Compat Modes */
    src: url('/dist/fonts/FontA/FontA-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/dist/fonts/FontA/FontA-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/dist/fonts/FontA/FontA-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/dist/fonts/FontA/FontA-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/dist/fonts/FontA/FontA-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
// FONT A MEDIUM
@font-face {
    font-family: 'FontA-Medium';
    src: url('/dist/fonts/FontA/FontA-Medium.eot'); /* IE9 Compat Modes */
    src: url('/dist/fonts/FontA/FontA-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/dist/fonts/FontA/FontA-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/dist/fonts/FontA/FontA-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/dist/fonts/FontA/FontA-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/dist/fonts/FontA/FontA-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
// FONT A BOLD
@font-face {
    font-family: 'FontA-Bold';
    src: url('/dist/fonts/FontA/FontA-Light.eot'); /* IE9 Compat Modes */
    src: url('/dist/fonts/FontA/FontA-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/dist/fonts/FontA/FontA-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/dist/fonts/FontA/FontA-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/dist/fonts/FontA/FontA-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/dist/fonts/FontA/FontA-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

/// === FONT B === \\\

// FONT A LIGHT
// FONT A BOOK
// FONT A REGULAR
// FONT A MEDIUM
// FONT A BOLD